#include("/templates/html_email_header.vm")
	<table width="90%" cellpadding="0" cellspacing="15" align="center">
		<tr>
			<td width="100%" align="center"><span style="font-size: 18px"><b>Nodeable User Activation</b></span></td>
		</tr>
		<tr>
			<td width="100%">To verify and complete your registration with Nodeable, please click the link below:</td>
		</tr>
		<tr>
			<td width="100%"><a href="${urlPrefix}/verify/signup/${secretKey}" style="color:#5373b7">${urlPrefix}/verify/signup/${secretKey}</a></td>
		</tr>
		<tr>
			<td width="100%">Once you have created an account, you can immediately add your own data sources.  Our StreamReduce engine provides instant visibility to the most important trends, summaries, and anomalies that help make your business more efficient.  You can also configure outbound destinations, such as Hadoop, for additional processing.</td>
		</tr>
	</table>
    <br />
    <table width="90%" cellpadding="0" cellspacing="15" align="center" style="background-color: #edf1f8">
        <tr>
            <td><span style="font-size: 12px">Feedback and suggestions are always welcome. Please send us an email at <a href="mailto:support@nodeable.com" style="color:#5373b7">support@nodeable.com</a> and let us know what you think.</span></td>
        </tr>
    </table>
#include("/templates/html_email_footer.vm")