Nodeable provides real-time processing for Hadoop

Thank you for joining Nodeable and patiently waiting while we crunched your data.

We have some good news. Our continuous computation engine has established a baseline for your
environment and has generated customized Nodeable Insights for you! Come and take a look at
your status, summary, and anomaly messages on ${urlPrefix}.

We are excited to have you as a user!

Feedback and suggestions are always welcome. Please send us an email at support@nodeable.com
and let us know what you think.
