Nodeable Password Reset

You requested that the password be reset for your Nodeable account. If you didn't mean to reset
your password or think you have received this in error, simply ignore this message and nothing
will happen.

To reset your password, please click the link below:

${urlPrefix}/verify/password/${secretKey}

If there is anything else we can help you with, please send us an email at support@nodeable.com.
